/*header style*/
header {
  text-align: center; 
  padding: 20px;
}

/*navigation menu style*/
nav {
  text-align: center;
  word-spacing: 30px;
  padding: 10px;
  background-color: #f5f5dc;
  font-family: Helvetica;
}

/*navigation bar button style*/
nav a {
  color: #000000;
  text-decoration: none;
  font-size: larger;
}

/*creating the two-column layout*/
*{
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.post-text-box {
  flex: 70%;
  padding: 20px;
}

.profile {
  flex: 70%;
  padding: 20px;
}

/*profile image and heading style*/
.profile img {
  width: 120px;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.profile h1 {
  text-align: center;
}
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center;
}

main {
    display: flex; /* Ou grid pour plus de flexibilité */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.article-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 300px; /* Ajustez la largeur selon vos besoins */
}

.article-card img {
    max-width: 100%;
    height: auto;
}

.read-more {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
